<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/poll.css">
  <script src="/javascripts/poll.js"></script>

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="row">
        <div class="container init-div col-sm-10 text-center">
          <table>
            <tr>
              <th>
                <img class="picon" src="/images/TPP.png" alt="台灣民眾黨">
                1號: 民眾黨
              </th>
              <th>
                <img class="picon" src="/images/DPP.png" alt="民主進步黨">
                2號: 民進黨
              </th>
              <th>
                <img class="picon" src="/images/KMT.png" alt="中國國民黨">
                3號: 國民黨
              </th>
            <tr>
              <td>
                <img src="/images/poll1.png" alt="柯盈配">
              </td>
              <td>
                <img src="/images/poll2.png" alt="柯盈配">
              </td>
              <td>
                <img src="/images/poll3.png" alt="柯盈配">
              </td>
            </tr>
            <tr>
              <td class="per">
                <div class="form-outline">
                  <input type="number" value="0" id="TPPinput" class="form-control" />
                  <label class="form-label" for="TPPinput">民眾黨獲得票數</label>
                </div>
              </td>
              <td class="per">
                <div class="form-outline">
                  <input type="number" value="0" id="DPPinput" class="form-control" />
                  <label class="form-label" for="DPPinput">民進黨獲得票數</label>
                </div>
              </td>
              <td class="per">
                <div class="form-outline">
                  <input type="number" value="0" id="KMTinput" class="form-control" />
                  <label class="form-label" for="KMTinput">國民黨獲得票數</label>
                </div>
              </td>
            </tr>
          </table>
          <a href="/poll" id="returnPoll" type="button" class="btn btn-warning">返回</a>
          <button id="sendPoll" type="button" class="btn btn-success">送出</button>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>