<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/wiki.css">

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="">
        <div class="row">
          <div class="container init-div col-md-2 col-sm-8">
            
          </div>
          <div class="container init-div col-md-8">
            <h4>總統候選人:<span style="color: blue;"><b>賴清德</b></span></h4>
            <img src="/images/DPPp1.png" alt="賴清德">
            <br>
            <br>
            <p>
              賴清德（1959 年 10 月 6 日—），中華民國政治人物、醫師，出生於新北市萬里區，
              現任中華民國副總統和民主進步黨主席，曾任行政院院長、臺南市市長、立法委員、國民大會代表等職務。
            </p>
            <p>
              賴清德就讀於臺北市立建國高級中學和國立臺灣大學復健學系物理治療組，
              之後於國立成功大學醫學院取得學士後醫學系學位，並於 2003 年獲得哈佛大學公共衛生碩士學位。
              與妻子吳玫如育有兩子。
            </p>
            <p>
              原為成功大學醫院和新樓醫院醫師，後來因擔任陳定南競選台灣省長的全國醫師後援會總召集人而進入政壇，
              曾多次當選中華民國國民大會代表和立法委員，並於 2010 年當選為臺南市市長，2014 年順利連任。

            </p>
            <p>
              2017 年被總統蔡英文任命為行政院院長，但民進黨於 2018 年 11 月的九合一選舉中慘敗，遂於隔年 1 月 13 日總辭。
              2019 年參與 2020 年中華民國總統選舉民進黨黨內初選，敗給尋求連任的蔡英文，
              後擔任副總統候選人，並 2020 年 1 月 11 日當選，2020 年 5 月 20 日宣誓就任副總統。
              2022 年 11 月，民進黨在九合一選舉中再度慘敗，賴清德補選擔任黨主席。
            </p>
            <p>
              2023 年 4 月 12 日，獲得民進黨提名參選 2024 年中華民國總統選舉。
              於 11 月 20 日，與副手蕭美琴前往中選會登記參選。
            </p>
            <hr>
            <h4>副總統候選人:<span style="color: blue;"><b>蕭美琴</b></span></h4>
            <img src="/images/DPPp2.png" alt="蕭美琴">
            <br>
            <br>
            <p>
              蕭美琴（英語：Hsiao Bi-khim[3]，1971 年 8 月 7 日—），台灣政治人物，民主進步黨籍，
              曾任中華民國駐美代表、國家安全會議諮詢委員，以及四屆立法委員，
              也是民進黨在花蓮縣唯一拿下過半得票者。曾任國際自由聯盟副主席、
              亞洲自由民主聯盟秘書長、民進黨國際部主任，也是唯一兩位擔任過僑選及區域立委的人（另一為前外交部部長陳唐山）。
              2008 年起擔任 2049 計畫研究所顧問；2020 年派任駐美代表；2023 年 11 月 20 日，
              因參選 2024 年中華民國總統選舉向外交部請辭，
              並於同月 30 日起生效，與民主進步黨總統候選人賴清德搭檔參選副總統。
            </p>
          </div>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>