<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/DPPwiki.css">

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="">
        <div class="row">
          <div class="container init-div col-md-2 col-sm-8">
            
          </div>
          <div class="container init-div col-md-8">
            
          </div>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>