<footer>
  <div class="text-center">
    <img width="27" height="24" src="/images/github.png" alt="github: ChihYang218">
    <a href="https://github.com/ChihYang218/webClass_project/tree/master/Node-Vote2024">Code from github</a>
  </div>
</footer>

</html>