<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/wiki.css">

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="">
        <div class="row">
          <div class="container init-div col-md-2 col-sm-8">

          </div>
          <div class="container init-div col-md-8">
            <h4>總統候選人:<span style="color: blue;"><b>侯友宜</b></span></h4>
            <img src="/images/KMTp1.png" alt="侯友宜">
            <br>
            <br>
            <p>
              侯友宜（1957 年 6 月 7 日），中華民國警政界及政治人物，現任新北市長，中國國民黨籍。
              生於嘉義縣朴子市，中央警察大學犯罪防治研究所法學博士，曾任臺北市政府警察局刑事警察大隊分隊長、
              桃園縣政府警察局局長、內政部警政署刑事警察局局長、內政部警政署署長、中央警察大學校長、新北市副市長。
            </p>
            <p>
              2018 年，在九合一選舉中擊敗民主進步黨籍的蘇貞昌當選新北市市長；2022 年，競選連任新北市市長，
              並擊敗民進黨籍的林佳龍再次獲勝。2023 年 5 月 18 日，獲中國國民黨徵召參選 2024 年中華民國總統選舉。
            </p>
            <hr>
            <h4>副總統候選人:<span style="color: blue;"><b>趙少康</b></span></h4>
            <img src="/images/KMTp2.png" alt="趙少康">
            <br>
            <br>
            <p>
              趙少康（1950 年 11 月 16 日），臺灣政治人物、媒體企業家、政治評論人，現為中國國民黨籍。
              曾任三屆立法委員、兩屆臺北市議員、行政院環境保護署署長。
              現與 2024 年中華民國總統選舉國民黨總統候選人侯友宜搭檔參選副總統。
            </p>
            <p>
              1989 年聯合成立國民黨黨內派系「新國民黨連線」，倡議「中國國民黨改造運動」。
              1992 年辭官再次競選立委時得票數創下紀錄，為至今單一立委得票最高者，
              在臺灣政壇有「政治金童」的稱號。1993 年，發起創建新黨，為首任新黨全國委員會召集人。
              1994 年擔任立法委員期間參選臺北市市長，敗於民主進步黨的陳水扁。
            </p>
            <p>
              卸任立委後逐步淡出政界投入媒體界，曾任飛碟廣播股份有限公司董事長，現為中國廣播股份有限公司董事長兼總經理，
              在中廣流行網、TVBS 和 Yahoo TV 主持政論節目（其中以《少康戰情室》最為知名），
              並曾在《蘋果日報》著有專欄〈趙少康傳真〉。2021 年 9 月，
              宣布成立「戰鬥藍」並公布初期加入之 72 位民意代表名單，累計有 72 名藍營民代加入，
              分別為 27 名國民黨立委，以及來自各縣市的 45 名議員。
            </p>
            <p>
              在 2024 年中華民國總統選舉時，國民黨總統候選人侯友宜原欲以「藍白合」的方式與民眾黨總統候選人柯文哲搭檔參選，
              卻因諸多緣故最後破局。最終國民黨於 2023 年 11 月 24 日召開中常會，宣布徵召趙少康擔任副總統候選人。
            </p>
          </div>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>