<%- include('./header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/wiki.css">

  <body class="bg-image bg-index">
    <%- include('./partials/navbar.ejs') %>
      <div class="row">
        <div class="container init-div2 col-md-2 col-sm-12">
          <nav class="navbar nav-pills nav-fill navbar-expand-sm">
            <div class="container-fluid">
              <ul class="navbar-nav nav-pills flex-column">
                <li class="nav-item nav-li">
                  <a class="nav-link" href="/KMTwiki">
                    <img class="picon" src="/images/KMT.png" alt="中國國民黨">國民黨
                  </a>
                </li>
                <li class="nav-item nav-li">
                  <a class="nav-link" href="/DPPwiki">
                    <img class="picon" src="/images/DPP.png" alt="民主進步黨">民進黨
                  </a>
                </li>
                <li class="nav-item nav-li">
                  <a class="nav-link active" href="/TPPwiki">
                    <img class="picon" src="/images/TPP.png" alt="台灣民眾黨">民眾黨
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="container init-div col-md-8">
          <h4>總統候選人:<span style="color: blue;"><b>柯文哲</b></span></h4>
          <img src="/images/TPPp1.png" alt="柯文哲">
          <br>
          <br>
          <p>
            柯文哲（1959 年 8 月 6 日—）是臺灣外科醫師及政治人物，現任台灣民眾黨主席，曾任臺北市市長、
            臺大醫院急診部醫師、臺大醫院創傷醫學部主任、國立臺灣大學醫學院教授，專長為外科重症醫學、
            器官移植、人工器官。
          </p>
          <p>
            柯文哲作為醫師在 2006 年後開始在媒體曝光而知名。2014 年參選臺北市市長，
            以「在野大聯盟」為號召，擊敗國民黨籍候選人連勝文當選，
            成為臺北市改制直轄市後首位無黨籍市長，並於 2018 年連任。
            2014 年 5 月 29 日成立個人 YouTube 頻道。2019 年 7 月底 8 月初，
            柯文哲創立台灣民眾黨，並出任首任黨主席。2023 年自台大醫院退休後，
            代表台灣民眾黨參選 2024 年中華民國總統選舉。
          </p>
          <hr>
          <h4>副總統候選人:<span style="color: blue;"><b>吳欣盈</b></span></h4>
          <img src="/images/TPPp2.png" alt="吳欣盈">
          <br>
          <br>
          <p>
            吳欣盈（英語：Cynthia Wu，1978 年 5 月 18 日—），台灣政治人物、企業高階主管，現任台灣民眾黨籍立法委員、
            新光人壽慈善基金會董事長、新光人壽保險公司副總經理、臺灣工商企業聯合會監事。
          </p>
          <p>
            吳欣盈出生於美國，為新光集團關係企業第三代，為集團創辦人吳火獅之孫女，吳東進之長女。
            曾任英國保守黨副黨魁彼得·萊利國會助理、英國倫敦美林證券資產管理公司投資分析師、
            英國公益慈善協會董事、美國公益慈善商場國際董事、世界經濟論壇青年全球領袖成員。
            2022 年 11 月，吳欣盈依法遞補就職為中華民國立法委員。
            2023 年與台灣民眾黨黨主席柯文哲搭檔，投入總統選舉，代表該黨競逐副總統一職。
          </p>
        </div>
      </div>
  </body>

  <%- include('./footer.ejs') %>